@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

.jejugothic * { 
 font-family: 'Jeju Gothic', sans-serif;
}
/* 초기화 */
* { margin: 0; padding: 0; }
a { text-decoration: none; color: #000;}
li { list-style: none; }
.hidden { position: absolute; left: -9999px; }
/* header */
body { 
    margin: 15px 0;
    width: 100%; 
    min-width: 1200px; }
#header { 
    width: 100%; height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(179, 178, 178)
}
#header::before { 
    content: ""; 
    position: absolute; top: 69px;
    width:100%; 
    border-bottom: 1px solid rgb(194, 190, 190) 
    }
#top_section {
    width: 1600px; height: 100px;
    margin: 0 auto;
}
#header h1 {
    width: 170px; height: 50px;
    float: left;
}
#header h1 a { 
    width: 170px; height: 50px;
    display: block;
    background: url(../images/headerBG.png) no-repeat center / contain;
    text-indent: -9999px;
}

/* nav */
#gnbWrap {
   width: 600px; height: 50px;
   float: left;
    /* overflow: hidden; */
}
#gnb > li {
    width: 150px; height: 60px;
    float: left;
    text-align: center;
}

#gnb > li> a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px; 
    font-weight: bold;
    font-family: 'Jeju Gothic', sans-serif;
}

#gnb .snb  {
    display: none;
    width: 1000px;    
}
#gnb .snb li {
    width: 100px; height: 50px;
    float: left;
}

#gnb .snb li:nth-child(2) {
    width: 150px; height: 50px;
    float: left;
}
#gnb .snb li a {
    height: 50px;
    line-height: 50px;
    font-family: 'Jeju Gothic', sans-serif;
}
#gnb .snb li a:hover {
    color: #fb7266;
}
/* search */
#search {
    width: 200px; height: 25px;
    margin: 4px 0 0 50px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5%;
    float: left;
    background: url(../images/searchbg.png) no-repeat 5px / 20px;
}
#search input{
    float: right;
    width: 170px;
    height: 25px;
    border: none;
}

/* login */
#loginWrap {
    width: 500px; height: 50px;
    padding: 10px;
    float: right;
}
#login {
    width: 500px; height: 50px;
}
#login li {
    float: left;
    width: 80px; height: 50px;
}
#login li a {
    font-family: 'Jeju Gothic', sans-serif;
}
#login li a:hover {
    color: #ef8d78;
}
#login li .cart {
    display: block;
    width: 40px; height: 25px;
    text-indent: -9999px;
    background: url(../images/cart.png) no-repeat center/ contain;
}
/* #######event####### */
#event {
    width: 1800px; height: 1000px;
    margin: 0 auto;
    position: relative;
}
#eventWrap { 
    position: relative;
    width: 1800px; height: 900px;
    margin: 5px auto;
    overflow: hidden;
}
#eventWrap .eventList {
    width: 1800px; height: 900px;
}
#eventWrap .eventList li {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 900px;
    background: no-repeat center / cover;
    
}
#eventWrap .eventList li::after {
    content:"";
    position: absolute; top: 0; left: 0;
    width: 100%; height: 900px;
    background-color: #000;
    opacity: 0.5;
    z-index: -9999;
}
#eventWrap .eventList .eSlider1 { background-image: url(../images/eventbg1.jpg) }
#eventWrap .eventList .eSlider2 { background-image: url(../images/eventbg2.jpg) }
#eventWrap .eventList .eSlider3 { background-image: url(../images/eventbg3.png) }
#eventWrap .eventList .eSlider4 { background: url(../images/eventbg4.jpg) no-repeat center / cover }

#eventWrap .on { z-index: 9; }
.eventList li p {

}
.eSlider1 p:nth-child(1) {
    padding: 60px;
    font-size: 60px;
    color: #fff;
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider1 p:nth-child(1) span {
    font-size: 70px;
}
.eSlider1 p:nth-child(2) {
    padding: 60px;
    font-size: 40px;
    color: #fff;
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider1 p:nth-child(3) {
    padding: 20px 0 0 60px;
    font-size: 40px;
    color: #fff;
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider1 a {
    padding: 6px;
    color: #fff;
    background: #9d8a86;
    font-family: 'Jeju Gothic', sans-serif;
    position: relative; left: 60px;
}
.eSlider2 p:nth-child(1) {
    padding: 60px 0 10px 60px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider2 p:nth-child(2) span {
    font-size: 70px;
    color: #cac833;
}
.eSlider2 p:nth-child(2) {
    padding: 0 0 120px 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider2 p:nth-child(3) {
    padding: 20px 0 0 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider2 p:nth-child(4) {
    padding: 20px 0 0 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider2 a {
    padding: 6px;
    color: #fff;
    background: #996a61;
    font-family: 'Jeju Gothic', sans-serif;
    position: relative; left: 60px;
}
.eSlider3 p:nth-child(1) {
    padding: 60px 0 30px 60px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider3 p:nth-child(2) span {
    font-size: 70px;
    color: #d8c77c;
    font-weight: bold;
}
.eSlider3 p:nth-child(2) {
    padding: 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider3 p:nth-child(3) {
    padding: 20px 0 0 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider3 p:nth-child(4) {
    padding: 20px 0 0 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider3 a {
    padding: 6px;
    color: #fff;
    background: #242323;
    font-family: 'Jeju Gothic', sans-serif;
    position: relative; left: 60px;
}
.eSlider4 p:nth-child(1) {
    padding: 60px 0 20px 60px;
    font-size: 60px;
    color: #ffffff;
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider4 p:nth-child(2) span {
    font-size: 70px;
    color: #ffffff;
    font-weight: bold;
}
.eSlider4 p:nth-child(2) {
    padding: 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider4 p:nth-child(3) {
    padding: 20px 0 0 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider4 p:nth-child(4) {
    padding: 20px 0 0 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
    
}
.eSlider4 a {
    padding: 6px;
    color: #fff;
    background: #242323;
    font-family: 'Jeju Gothic', sans-serif;
    position: relative; left: 60px;
}
/* 버튼 */
#posBtn .prev {
    width: 60px; height: 60px;
    text-indent: -9999px;
    position: absolute; top: 40%; left: 0;
    background: url(../images/prevbg.png) no-repeat center / cover;
    z-index: 9;
}
#posBtn .prev:hover {
    background-image: url(../images/prev1.png)
}
#posBtn .next {
    width: 60px; height: 60px;
    text-indent: -9999px;
    position: absolute; top: 40%; right: 0;
    z-index: 9;
    background: url(../images/nextbg.png) no-repeat center / cover;
}
#posBtn .next:hover {
    background-image: url(../images/next1.png)
}

#numBtn { 
    z-index: 99999;
    width: 168px; height: 20px; 
    position: relative; bottom: 80px; left: calc(50% - 84px); 
}
#numBtn a {
    text-indent: -9999px;
    width: 22px; height: 22px;
    margin: 0 3px;
    display: block;
    float: left;
    background: url(../images/numbtn1.png) no-repeat center / contain;
}
#numBtn .active {
    background-image: url(../images/numbtn2.png);
}

/* #######sale product####### */
#sale { 
    width: 100%; height: 1200px;
}
#saleWrap {
    width: 1800px; height: 1100px;
    margin: 0 auto;
    
}
#scale {
    width: 1800px; height: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
#scale .block {
    overflow: hidden;
}
#scale .show {
    transform: scale(1);
    transition: all 0.5s ease-in-out; 
}
#scale .show:hover {
    transform: scale(1.03);
    }
#saleWrap h3 { 
    font-size: 50px;
    font-family: 'Jeju Gothic', sans-serif;
    margin-bottom: 10px;
}
#saleWrap > a {
    display: block;
    margin-top: 10px;
    width: 70px;
    font-size: 20px;
    color: #f15c4b;
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap > a:hover {
    color: #3dbcdb;
}
#saleWrap .scale1 {
    width: 900px; height: 1000px;
    float: left;
}#saleWrap .scale2 {
    width: 900px; height: 500px;
    float: right;
}#saleWrap .scale3 {
    width: 900px; height: 500px;
    float: right;
}
#saleWrap .big {
    width: 900px; height: 1000px;
    float: left;
    background: url(../images/salebg1.jpg) no-repeat center / cover;
}
#saleWrap .big1 {
    padding: 50px 0 0 40px;
    font-size: 50px;
    color: #fff;
    font-family: 'Jeju Gothic', sans-serif;
    text-transform: uppercase;
}
#saleWrap .big1 span {
    font-size: 53px;
    font-weight: bold;
}
#saleWrap .big2 {
    padding: 0 0 40px 40px;
    font-size:30px;
    color: #fff;
    font-family: 'Jeju Gothic', sans-serif;
    text-transform: uppercase;
}
#saleWrap .big2 span {
    font-weight: bold;
    color: #e44433;
}
#saleWrap .big a {
    padding: 5px;
    margin-left: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #5f5f5f;
    opacity: 0.8;
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap .big a:hover {
    opacity: 1;
}
#saleWrap .side {
    width: 900px; height: 500px;
    background: url(../images/salebg2.jpg) no-repeat center / cover;
}
#saleWrap .side p:nth-child(1) {
    padding: 30px 0 0 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap .side p:nth-child(2) {
    margin-bottom: 20px;
    padding: 10px 0 0 30px;
    font-size: 20px;
    color: #fff;
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap .side p span {
    font-weight: bold;
    font-size: 30px;
    color: #337ae4;
}
#saleWrap .side a {
    width: 100px;
    margin-left: 30px;
    padding: 6px;
    color: #fff;
    opacity: 0.8;
    background-color: #5f5f5f;
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap .side a:hover {
    opacity: 1;
}
#saleWrap .side1 {
    width: 900px; height: 500px;
    background: url(../images/salebg3.jpg) no-repeat bottom / cover;
}
#saleWrap .side1 p:nth-child(1) {
    padding: 30px 0 0 30px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap .side1 p:nth-child(1) span {
    color: #ac0000;
}
#saleWrap .side1 p:nth-child(2) {
    margin-bottom: 20px;
    padding: 10px 0 0 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap .side1 p:nth-child(2) span {
    font-weight: bold;
    color: #ac0000;
}
#saleWrap .side1 a {
    width: 100px;
    margin-left: 30px;
    padding: 6px;
    color: #fff;
    opacity: 0.8;
    background-color: #5f5f5f;
    font-family: 'Jeju Gothic', sans-serif;
}
#saleWrap .side1 a:hover {
    opacity: 1;
}

/* ########best product########## */
#bestWrap {
    width: 1800px; height: 800px;
    margin: 0 auto;
}
#best {
    width: 1800px; height: 550px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}
#best::-webkit-scrollbar {
    width: 0.1px;
}
#best::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92, 0.5);
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
}
#best::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}
#best_text {
    width: 1800px;
    margin: 0 auto;
    border-bottom: 1px solid #b1b1b1;
}
#best_text h3 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Jeju Gothic', sans-serif;
}
#bestWrap > a {
    display: block;
    margin: 20px 0 0 ;
    width: 70px;
    text-indent: -9999px;
    font-size: 20px;
    color: #f15c4b;
    font-family: 'Jeju Gothic', sans-serif;
}
#bestWrap > a:hover {
    color: #3dbcdb;
}
#best_productWrap {
    width: 4600px; height: 510px;
}
.best_product {
    width: 440px; height: 500px;
    margin-right: 20px;
    float: left;
}
#best_productWrap .best_product a {
    width: 440px; height: 440px;
    display: block;
    margin-bottom: 20px;
    text-indent: -9999px;
    background: no-repeat center/cover;
}
#best_productWrap  .best_product p {
    margin-bottom: 4px;
    font-family: 'Jeju Gothic', sans-serif;
}
#best_productWrap  .best_product span {
    color: #ffffff;
    background-color: #fa7655;
    border-radius: 10%;
    padding: 3px;
    font-size: 15px;
}
#best_productWrap  .best_product .pro1 {
    background-image: url(../images/bestbg1.jpg)
}
#best_productWrap  .best_product .pro2 {
    background-image: url(../images/bestbg2.jpg)
}
#best_productWrap  .best_product .pro3 {
    background-image: url(../images/bestbg3.jpeg)
}
#best_productWrap  .best_product .pro4 {
    background-image: url(../images/bestbg4.jpg)
}
#best_productWrap  .best_product .pro5 {
    background-image: url(../images/bestbg5.jpg)
}
#best_productWrap  .best_product .pro6 {
    background-image: url(../images/bestbg6.jpg)
}
#best_productWrap  .best_product .pro7 {
    background-image: url(../images/bestbg7.jpg)
}
#best_productWrap  .best_product .pro8 {
    background-image: url(../images/bestbg8.jpg)
}
#best_productWrap  .best_product .pro9 {
    background-image: url(../images/bestbg9.jpg)
}
#best_productWrap  .best_product .pro10 {
    background-image: url(../images/bestbg10.jpg)
}

/* hot product */
#hot_product {
    width: 1800px; height: 600px;
    margin: 0 auto;
}
.bottom_line {
    width: 1800px;
    margin: 0 auto 10px;
    border-bottom: 1px solid #b1b1b1;
}
.mySwiper {
    padding: 10px 0;
}

.swiper {
    width: 1800px;
  }
.swiper-wrapper {
    padding-left: 0px;
    height: 500px;
}
#hot_product h3 {
font-size: 30px;
font-family: 'Jeju Gothic', sans-serif;
}
.swiper-slide {
height: 440px;
margin-right: 20px;
}
.swiper-slide p {
    margin-top: 10px;
    font-family: 'Jeju Gothic', sans-serif;
}
.swiper-slide span {
    color: #ffffff;
    background-color: #fa7655;
    border-radius: 10%;
    padding: 1px;
}
.swiper-slide a {
    text-indent: -9999px;
    display: block;
    width: 360px; height: 380px;
    float: left;
    background: no-repeat center / contain;
}

.swiper-slide:nth-child(1) a {
    background-image: url(../images/hot1.jpg)
}
.swiper-slide:nth-child(2) a{
    background-image: url(../images/hot2.jpg)
}
.swiper-slide:nth-child(3) a{
    background-image: url(../images/hot3.jpg)
}
.swiper-slide:nth-child(4) a{
    background-image: url(../images/hot4.jpg)
}
.swiper-slide:nth-child(5) a{
    background-image: url(../images/hot5.jpg)
}
.swiper-slide:nth-child(6) a{
    background-image: url(../images/hot6.jpg)
}
.swiper-slide:nth-child(7) a{
    background-image: url(../images/hot7.jpg)
}
.swiper-slide:nth-child(8) a{
    background-image: url(../images/hot8.jpg)
}
.swiper-slide:nth-child(9) a{
    background-image: url(../images/hot9.jpg)
}
.swiper-slide:nth-child(10) a{
    background-image: url(../images/hot10.jpg)
}
.swiper-slide:nth-child(11) a{
    text-indent: -9999px;
    background: url(../images/more.png) no-repeat 10px 150px / 80px;
}

/* 랜선 집들이 */

#home_view {
    width: 100%; height: 1050px;
}
#home_wrap {
    width: 1800px; height: 900px;
    margin: 0 auto;
}
#home_wrap .wrapper {
    border-top: 1px solid #b1b1b1;
    padding: 20px;
}
#home_wrap h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Jeju Gothic', sans-serif;
}

/* ####### key_word ####### */
#keywordSection {
    width: 100%; height: 900px;
}
#key_word_wrap {
    width: 1800px; height: 900px;
    margin: 0 auto;
    border: 1px solid black;
}
#key_word_text {
    width: 500px; height: 900px;
    float: left;
    border: 1px solid black;
}
#key_word_text h3 { 
    font-size: 40px;
    margin-top: 300px;
    font-family: 'Jeju Gothic', sans-serif;
}
#key_word_text p {

}